* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* typo */

body {
    font-family: 'Montserrat', sans-serif;
}

#plus-symbol {
    font-size: 40px;
    color: black;
    background-color: white;
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
    font-weight: 700;
}

/* common */

footer {
    height: 5.625rem;
    width: 100%;
    background-color: #282828;
    color: white;
}

#side {
    height: calc(100vh - 5.625rem);
    width: 3.125rem;
    background-color: black;
    color: #717171;
    padding: .4375rem;
}

#main-section {
    height: calc(100vh - 5.625rem);
    width: calc(100% - 3.125rem);
    background-color: #141922;
    overflow-y: scroll;
    color: #717171;
    padding: 2.5rem;
    padding-top: 6.25rem;
}

#main-section h2,
#main-section h3,
#main-section i {
    color: white;
}

#main-section nav a:hover,
#side a:hover {
    color: white;
}

.flex {
    display: flex;
}

.wide-nav {
    display: none;
}

img {
    width: 100%;
    display: block;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* main */

#side nav{
    height: 100%;
}

#side .nav-top a img {
    max-width: 40px;
    width: 100%;
}

#side .nav-top {
    margin-bottom: 0;
}

#side .nav-foot a img {
    max-width: 1rem;
    width: 100%;
}

#side nav {
    flex-direction: column;
    overflow: hidden;
    align-items: center;
}

#side nav a {
    display: flex;
    align-items: center;
    gap: .625rem;
}

#side .flex {
    flex-wrap: wrap;
}

#side .nav-center{
    flex-grow: 1;
}

#side .nav-center h3 {
    color: white;
}

#side .nav-center .scroll-nav {
    overflow-y: auto;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
}

#side .nav-center li:not(:last-child) {
    margin-bottom: .625rem;
}

.nav-foot {
    margin-top: auto;
}

.nav-foot hr {
    margin: .625rem 0;
}

#main-section .flex {
    flex-wrap: wrap;
}

.fixed-bar {
    height: 5.625rem;
    width: calc(100% - 3.125rem);
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    justify-content: flex-end;
    align-items: center;
    z-index: 666;
    padding-right: 3.75rem;
}

.btn {
    border: 2px solid white;
    padding: .9375rem 1.25rem;
    border-radius: 2.5rem;
    color: white;
}

.btn:hover {
    scale: 1.1;
}

#main-section nav {
    justify-content: center;
}

#main-section nav div {
    margin: 0 1.25rem 1.875rem;
    text-transform: uppercase;
}

#main-section nav div:first-child {
    position: relative;
}

#main-section nav div:first-child::after {
    content: '';
    width: 40px;
    height: 2px;
    background-color: #ADFF2F;
    display: block;
    position: absolute;
    left: 30%;
    bottom: -10px;
}

#main-section .col {
    padding: 10px;
    width: calc(100% / 2);
    text-align: center;
}

#main-section h2 {
    margin-bottom: 15px;
}

#main-section col {
    margin-top: 10px;
}

#main-section .col h3 {
    margin-bottom: .625rem;
}

.content-cover {
    position: relative;
    margin-bottom: .625rem;
}

.content-cover .play-hover {
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 3.125rem;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.artist .content-cover .play-hover {
    border-radius: 50%;
}

.content-cover:hover .play-hover {
    display: block;
}

.content-cover .play-hover i {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.artist .content-cover img {
    border-radius: 50%;
}

#main-section section:not(:last-child),
#main-section nav {
    margin-bottom: 3.75rem;
}

#side .nav-foot .user {
    background-color: #717171;
    border-radius: 50%;
    object-fit: contain;
    height: 25px;
    width: 25px;
    max-width: 100%;
}

@media screen and (min-width: 640px) {
    #main-section {
        height: calc(100vh - 5.625rem);
        width: calc(100% - 14.375rem);
    }

    #side {
        height: calc(100vh - 5.625rem);
        width: 14.375rem;
        padding: 15px;
    }

    #side .nav-top ul li:first-child {
        border-left: 2px solid #ADFF2F;
    }

    .fixed-bar {
        height: 5.625rem;
        width: calc(100% - 14.375rem);
    }

    .wide-nav {
        display: flex;
        flex-direction: column;
    }

    .small-logo {
        display: none;
    }

    #side nav .logo .wide-nav {
        max-width: 75%;
        margin-bottom: 10px;
    }

    #side nav .flex li {
        width: 100%;
    }

    #side nav {
        align-items: flex-start;
    }
    
}

@media screen and (min-width: 878px) {
    #main-section .col {
        width: calc(100% / 4);
    }
}

@media screen and (min-width: 1200px) {
    #main-section .col {
        width: calc(100% / 6);
    }
}

/* footer */

footer {
    justify-content: center;
    align-items: center;
    padding: .625rem;
}

.foot-col.flex {
    align-items: center;
}

footer .foot-col.foot-left {
    margin-right: auto;
    width: 20%;
    max-width: 250px;
}

footer .foot-col.foot-mid {
    margin: 0 auto;
}

footer .foot-col.foot-right {
    margin-left: auto;
    width: 20%;
    max-width: 250px;
    justify-content: flex-end;
}

footer .foot-col.foot-mid {
    flex-direction: column;
    width: 50%;
}

footer .foot-col .album-info .album-img {
    align-items: center;
}

footer .foot-col .album-info .album-img img {
    max-width: 3.5625rem;
    min-width: 1.875rem;
}

.nomi {
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.nomi .nome-brano {
    flex-direction: column;
    margin-top: .3125rem;
}

.nomi .nome-brano div:hover {
    text-decoration: underline;
}

.nomi .nome-brano div:first-child {
    margin-right: .3125rem;
}

.album-icon {
    justify-content: center;
    margin-left: 10px;
    flex-direction: column;
    color: #717171;
}

.album-icon div:hover {
    color: white;
}

.album-icon div:first-child {
    margin-right: .3125rem;
}

.bar {
    height: 4px;
    background-color: #5A5A5A;
    flex-grow: 10;
    margin:0 .9375rem;
    margin-left: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.bar.small {
    flex-grow: 1;
    background-color: #C1C1C1;
    margin:0 .9375rem;
    margin-right: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    position: relative;
}

.bar-ball {
    background-color: green;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    position: absolute;
    right: -5px;
    top: -200%;
    display: none;
}

.bar-player:hover .bar.small {
    background-color: lightgreen;
}

.bar-player:hover .bar-ball {
    display: block;
}

.foot-col.foot-right .bar, .foot-col.foot-right .bar.small {
    margin: 0;
}

.btn-player, .bar-player {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.btn-player div:nth-child(3) {
    font-size: 30px;
}

.btn-player div:nth-child(3):hover {
    scale: 1.2;
}

.btn-player div {
    margin: 0 10px;
}

.foot-col.foot-right div:not(:last-child) {
    margin-right: .3125rem;
}

@media screen and (min-width: 878px) {

    .nomi .nome-brano {
        flex-direction: row;
    }
    
    .album-icon {
        align-items: center;
        margin-left: 10px;
        flex-direction: row;
    }

}